*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    box-shadow: #100000 12px 10px 12px;  
    border: 1px solid black;
    height: 450px;
    width: 300px;
    margin: 8% auto;
}

.template{
    border-style: black;
    height: 200px;
    width: 200px;
    margin: 12% auto;
    border: 1px none;
}

.container-2{
    margin-top: -6%;
    margin-left: 16%;
}


#icons{
    display: flex;
    margin-top: 6%;
    margin-left: 13%;
    color: #100000;
}

input[type=range]{
    padding: 0%;
    width: 80%;
    margin-top: 8px;
    margin-left: 38px;
}

body{
    background-color:black;   
    color:white;
    font-family: 'Lato', sans-serif;
}

h6{
    font-weight: lighter;
    opacity: 0.55;
}

img{
 width: 200px;
}

ul{
    display: flex;
    align-items: center;
}

ul li i{
    color: #000000;
    margin-left: 15px;
}


li{
    list-style-type: none;
}

i{
    color:black;
    opacity: 0.8;
    font-size: 50px;
}

i:hover{
    cursor: pointer;
}
